<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="firtsmenu">
        <div class="logo">
            <img src="/projectMintic/src/image/pedifylogo.jpg"/>
        </div>  
        <div class="buttons">
            
            <div class="button1">
                <button mat-raised-button color="accent">Cajero</button>
            </div>
            <div class="button2">
                <button mat-raised-button color="primary">Administrador</button>
            </div>
            
        </div>
    </div>    
</body>
</html>